.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}
.button-detail {
  width: 60px;
}
.button-block {
  width: 130px;
  margin-left: 10px;
}
.button-pay {
  margin-left: 10px;
}
