.display-flex {
  display: flex;
  align-items: flex-start;
}
.avatar {
  width: 180px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
@mixin label {
  font-size: 1.8rem;
  font-weight: 600;
  height: 50px;
}
.label-short {
  @include label();
  margin-left: 50px;
  width: 180px;
}
.label-medium {
  @include label();
}
.label-long {
  @include label();
  margin-left: 50px;
  width: 250px;
}
.content {
  margin-right: 10px;
  font-size: 1.8rem;

  .image-paper {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
  }
}
@mixin button($width: 200px) {
  width: $width;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--main-green);
}
.button-unblock {
  @include button();
}
.button-block {
  @include button();
}
.button-custom {
  @include button(fit-content);
  padding: 0 20px;
  background-color: var(--main-green);
}
