.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  display: flex;
}
.content {
  flex: 1;
  padding: 20px 40px;
}
.left-wrapper {
  width: 20%;
}
.right-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
