.inline {
  display: flex;
  align-items: center;
  margin: 20px;
}
.label {
  width: 300px;
}
.input {
  height: 40px;
  font-size: 16px;
  text-align: left;
}
.button {
  height: 40px;
}
.w-100 {
  width: 100%;
}
