.wrapper {
  margin-top: 20px;
}
.my-button {
  width: 300px;
  padding: 15px;
  background-color: var(--main-green);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: darken(#04af46, 10%);
  }
  &:active {
    background-color: lighten(#04af46, 10%);
  }

  .txt-button {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
  }
}
