.title-header {
  font-size: 25px;
  font-weight: 700;
}
.body {
  padding: 20px;
}
.inline {
  display: flex;
  margin: 5px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  width: 200px;
}
.content {
  width: 80%;
}
